body {
    font-family: helvetica, sans-serif;
    background: #fff;
    font-size: 16px;
}

h1 {
    margin: 0;
    font-family: "proxima-nova", helvetica, sans-serif;
    font-weight: bold;
}

a {
    color: indianred;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.copy p {
    color: #202f33;
    font-family: "freight-text-pro", georgia, serif;
    font-weight: 400;
    font-size: 1.3em;
    padding-left: 100px;
    line-height: 2em;
    -webkit-font-smoothing: antialiased;
}

ul:last-child, p:last-child {
    margin-bottom: 0;
}

.menu {
    float: right;
    padding-top: 10px;
    font-family: "alternate-gothic-no-1-d", sans-serif;
    font-weight: 400;
    font-size: 1.4em;
    text-transform: uppercase;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 1.5em;
}

.menu li {
    float: left;
    margin-right: 0;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li:last-child a {
    border-left: none;
}

.menu li a {
    color: #333;
    padding: 4px 8px 2px 8px;
    background: #efefef;
    border: 1px solid #ddd;
    text-decoration: none;
    transition: all .3s ease;
}

.menu li a span {
    color: #ccc;
    text-shadow: 0 0 4px #fff;
}

.menu li a.rank-select.selected span {
    color: steelblue;
}

.menu li a.access-select.selected span {
    color: indianred;
}

.menu li a:hover {
    background: #e1e1e1;
}

.wrapper {
    max-width: 1000px;
    padding: 20px;
    margin: auto;
    background: #fff;
}

svg {
    cursor: all-scroll;
} 

.map-container {
    margin-top: 20px;
    width: 100%;
    height: 650px;
    background: #efefef;
    box-shadow: inset 0 0 200px #ddd;
    position: relative;
    background: url(../img/textured_paper.png);
}

#map-controls {
    position: absolute;
    right: 15px;
    bottom: 15px;
    width: 32px;
    height: 94px;
    box-shadow: 1px 1px 3px #ccc;
}

#map-controls a {
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #f3f3f3;
    line-height: 33px;
    border: 1px solid #ccc;
    color: #666;
    text-decoration: none;
    font-family: "proxima-nova", helvetica, sans-serif;
    font-weight: bold;
    font-size: 1em;
    transition: all .2s ease;
}

#map-controls a:first-child {
    border-bottom: none;
    line-height: 33px;
    font-size: 1.2em;
}

#map-controls a:last-child {
    border-top: none;
    line-height: 30px;
    font-size: 1.2em;
}

#map-controls a:hover {
    color: #000;
    background: #fff;
}

#country-info {
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px;
    transition: opacity .3s ease;
}

#country-info div {
    font-size: .8em;
    float: left;
    margin-right: 30px;
    color: #202f33;
    font-family: "freight-text-pro", georgia, serif;
    font-weight: 400;
}

#country-info i {
    font-size: 2em;
    color: steelblue;
    opacity: .6;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg);
}

#country-info .visa-access i {
    color: indianred;
    -webkit-transform: rotate(-160deg);
    -moz-transform: rotate(-160deg);
    -ms-transform: rotate(-160deg);
    -o-transform: rotate(-160deg);
    transform: rotate(-160deg);
}

#country-info span.number {
    text-shadow: 1px 1px 1px #fff;
    font-size: 2.6em;
    padding-left: 10px;
    font-family: "proxima-nova", helvetica, sans-serif;
    font-weight: bold;
    color: indianred;
}

#country-info .visa-rank span.number {
    color: steelblue;
}

.country-name {
    font-size: 1.4em;
    margin-bottom: 15px;
    color: #444;
}

.stroke {
    fill: none;
    stroke: #888;
    stroke-width: 0;
}

.fill {
    fill: #fff;
}

.graticule {
    fill: none;
    stroke: #999;
    stroke-width: .5px;
    stroke-opacity: .2;
}

.country {
    stroke: none;
    cursor: pointer;
    transition: fill .2s ease;
}

.country {
    fill: whitesmoke;
    opacity: .8;
}

.country:hover {
    stroke-width: .5px;
    stroke: #333;
    opacity: 1;
}

.floodRed, .floodBlue {
    -webkit-transition: flood-opacity .3s ease;
    -moz-transition: flood-opacity .3s ease;
    -ms-transition: flood-opacity .3s ease;
    -o-transition: flood-opacity .3s ease;
    transition: flood-opacity .3s ease;
}